

/* global arial */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

/* global text selection color */
::selection {
    background: #4CAF50;
    color: white;
}

/** fancy styling for the table */
table {
    border-collapse: collapse;
    width: 100%;
}

/** and columns */
th, td {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px;
    text-align: left;
}

/** and rows */

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/** and hover effect */

tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/** and the button */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition:0.3s !important;
    /* width: 100%; */
}

button.disabled {
    background-color: #cccccc;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    /* cursor: not-allowed; */
    border-radius: 5px;
    /* width: 100%; */
}

button:hover {
    opacity: 0.8;
}

/* style uplaod input */
input[type="file"] {
    display: none;
}

/* style uplaod button */
.upload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/** and the form */

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* make table header sticky */
thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);;
}

/* make table header sticky */
thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);;
}


/* h2 width only like the text */
h2 {
    display: inline;
    margin:0;
    line-height: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
}



.usefull-buttons {
    display: flex;
    /* column */
    flex-direction: row;
    /* space between 1rem */
    width: 30rem;
}

.usefull-buttons button {
    width: 12rem;
}

/* export button */
.export-btn {
    background-color: #4CAF50;
    color: white;
    /* padding: 14px 20px; */
    padding: 0 0;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 5rem;
    /** same size text size as h2 */
    line-height: 2rem;
    font-size: 1rem;
    /* float: right; */
    display: inline;
    top: 0rem;    
    margin-right: 1rem;
    margin-left: 1rem;

}

/** load more btn gray */
.load-more-btn {
    background-color: #fafafa;
    color: rgb(94, 94, 94);
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    /* border bottom like table */
    border-bottom: 1px solid #ddd;
}

.load-more-btn:hover {
    background-color: #f2f2f2;
}

.busyIndicator {
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
    top: 0;
}

.busyIndicator_Enable {
    display: flex;
}

.busyIndicator_Disable {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .upload-btn {
        width: auto;

    }

    .process-btn {
        width: auto;
        left: 1rem;
    }

    /* select same as process-btn */
    select {
        left: 1rem;
            width: 10rem;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 0px solid none;
    border-color: rgba(0,0,0,0) !important;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-family: 'Roboto', sans-serif;
transition: 0.3s !important;
cursor: pointer;
background-color: rgba(0,0,0,0.2);
border-color: none;
color: #fff;

    }

    select:hover {
background-color: rgba(0,0,0,0.3);

    }


    .container {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
    }

    .button-container {
        display: flex;
        /* space between*/
        justify-content: space-between;
        /* space between 1rem */
        width: 100%;
        padding-top: 0.5rem;
        margin-left: 0.5rem;
        transition: 0.3s;
    }

    /* table cursor */
    table {
        cursor: cell;
    }

    /* remove dotsfrom list */
    ul {
        list-style-type: none;
    }





    .rainbow { 
        /* position: absolute; */
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
      background-size: 1800% 1800%;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }

      #nyancat {
        top: 25%;
        width: 50%;
        position: absolute;
        
    }

    /** format scrollbar with opacity to fit everything */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.3);
    }

    #rainbow-mode {
        margin-right: 1rem;
    }

    .rainbow.disabled {
        opacity: 0.7;
    }

    .material-symbols-outlined {
        line-height: 1rem;
        font-size: 15pt;
        text-align: center;
        vertical-align: text-bottom;
        margin-right: 0.2rem;
    }





    .steps {
        padding-left: 0;
        list-style: none;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 1;
        margin: 30px auto;
        border-radius: 3px;
      }
      
      .steps strong {
        font-size: 14px;
        display: block;
        line-height: 1.4;
      }
      
      .steps>li {
        position: relative;
        display: block;
        /* border: 1px solid #ddd; */
        padding: 12px 50px 8px 50px; 
        width: 140px;
        height: 40px;
      }
      
      @media (min-width: 768px) {
        .steps>li { float: left; }
        .steps .past { color: #666; background: #ececec; }
        .steps .present { color: #000; }
        .steps .future { color: #777; background: #efefef; }
      
        .steps li > span:after,
        .steps li > span:before {
          content: "";
          display: block;
          width: 0px;
          height: 0px;
          position: absolute;
          top: 0;
          left: 0;
          border: solid transparent;
          border-left-color: #f0f0f0;
          border-width: 30px;
        }
      
        .steps li > span:after {
          top: -5px;
          z-index: 1;
          border-left-color: rgba(0,0,0,0);
          border-width: 34px;
        }
      
        .steps li > span:before { z-index: 2; }
      
        .steps li.past + li > span:before { border-left-color: #ececec; }
        .steps li.present + li > span:before { border-left-color: rgba(0,0,0,0); }
        .steps li.future + li > span:before { border-left-color: #efefef; }
      
        .steps li:first-child > span:after,
        .steps li:first-child > span:before { display: none; }
      
        /* Arrows at start and end */
        .steps li:first-child i,
        .steps li:last-child i {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          border: solid transparent;
          border-left-color: rgba(0,0,0,0);
          border-width: 30px;
        }
      
        .steps li:last-child i {
          left: auto;
          right: -30px;
          border-left-color: transparent;
          border-top-color: rgba(0,0,0,0);
          border-bottom-color: rgba(0,0,0,0);
        }
      }

      
.gif-toast-img {
    height:10rem;
  }
  
  .gif-toast-wrapper {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    transition: 1.5s;
    bottom: 1.5rem;
  }
  
  .gif-toast-wrapper-hide {
    bottom: -12rem;
  }
  
  .tetris-toast-wrapper {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    transition: 1.5s;
    bottom: 1.5rem;
}

  .tetris-toast-wrapper-hide {
    bottom: -100vh;
  }


    .tetris-toast-img {
        height:25vh;
        /* border*/
        border: 1px solid #ddd;
    }


    #title-intro {
        transition: 0.3s !important;
        cursor:help;
    }

    #title-intro > strong {
        transition: 0.3s !important;

    }

        #title-intro > span {
        transition: 0.3s !important;

    }

        #title-intro > img {
        transition: 0.3s !important;

    }

    #title-intro:hover > strong {
        color: #4CAF50;
        transition: 0.3s;
        font-size: 2.75rem !important;
    }

    .tocTitleColor {
        transition: 0.3s !important;
        cursor: help;
    }

    .tocTitleColor:hover {
        color: #4CAF50;
    }

    #title-intro:hover > span {
        font-size: 1.5rem;
    }

    #title-intro > img {
        height: 2.5rem;
    }

    #title-intro:hover > img {
        height: 3.5rem;
    }

